langgraph
typing
dotenv
langchain_community
langchain_core
pydantic
langchain_chroma
fastapi
streamlit
langchain-community
langchain-groq
langchain-huggingface
langchain-core
chromadb
sentence-transformers
streamlit
langchain-community
langchain-groq
langchain-huggingface
langchain-core
chromadb
sentence-transformers
PyPDF2
python-docx